@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;700&family=Inter:wght@300;400;500;600;700&family=Lora:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter', Sans-serif;
    background-color: var(--PureWhite);
    transition: background-color 0.3s;
}
:root {
    --HalfBlack: #1F1F1F;
    --DarkGrey: #2D2D2D;
    --Grey: #3A3A3A;
    --HalfGrey: #757575;
    --LightGrey: #E9E9E9;
    --BoneWhite: #F4F4F4;
    --PureWhite: #FFF;
    --Purple: #A445ED;
    --RosaRed: #FF5252;
}
.dark-theme {
    --HalfGrey: #757575;
    --DarkBlack: #050505;
    --PureWhite: #FFF;
    --RosaRed: #FF5252;
    --Purple: #A445ED;
}
/*DARK THEME*/

body.dark-theme {
    background-color: var(--DarkBlack);
    transition: background-color 0.3s ease;
    & .found-sec {
        & h3 {
            color: var(--PureWhite);
        }
    }
    & .text-vertical {
        & h3 {
            text-transform: lowercase;
            color: var(--PureWhite);
        }
    }
    .source-url {
        color: var(--PureWhite);
    }
    .header-inner {
        & .inner-right {
            & .right-font select {
                color: #F4F4F4;
                font-weight: bold;  
                &:focus {
                    outline: none;
                }             
                & option {
                    border-radius: 16px;
                    font-weight: bold;
                    background-color: var(--HalfBlack);
                    box-shadow: 0px 5px 30px 0px #A445ED;
                }
            }
        }
    }
    .searchBar input {
        width: 500px;
        &:focus {
            outline: none;
            background-color: #F4F4F4;
        }
    }
    .error-text {
        & h4 {
            color: #FFF;
        }
    }
}



/**//**//**//**/
.container {
    display: flex;
    flex-direction: column;
    gap: 28px;
}
/* HEADER */
.header-inner {
    padding: 28px 24px;
    margin: 0 auto;
    width: 375px;
    display: flex;
    gap: 95px;
    & .inner-left img {
        width: 28px;
    }
    & .inner-right {
        display: flex;
        gap: 16px;
        align-items: center;
        & .right-font select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: url(images/path-down.svg) no-repeat;
            background-position: right 5px center;
            background-size: 12px 8px;
            border: 0;
            width: 98px;
        }
    }
}
.right-font {
    border-radius: 16px;
}
/*SEARCH BAR*/
.search-container {
    width: 327px;
    margin: 0 auto;
}
.searchBar {
    margin: 0 auto;
    width: 327px;
    padding: 14px 24px;
    background-color: var(--BoneWhite);
    border-radius: 16px;
    & form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 0;
    }
    & form input {
        font-size: 16px;
        font-weight: 700;
        border: 0;
        background-color: var(--BoneWhite);
    }
}
.searchBar.error {
    border: 2px solid #FF5252;
}
.hoaydaa {
    padding-top: 8px;
    font-size: 20px;
    color: var(--RosaRed);
}
/* ERROR CONTAINER */
.error-container {
    width: 327px;
    padding-top: 132px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 44px;
    align-items: center;
}
.error-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    & h4 {
        color: var(--DarkGrey);
        text-align: center;
        font-size: 20px;
        font-weight: 700;

    }
    & h5 {
        text-align: center;
        color: var(--HalfGrey);
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
    }
}

/*SEARC RESULTS - WordFound*/
.wordfound-section {
    width: 327px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.found-sec {
    display: flex;
    flex-direction: column;
    gap: 8px;
    & h3 {
        font-size: 32px;
        font-weight: 700;
        color: var(--DarkGrey);
    }
    & h2 {
        color: #A445ED;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
    }
}
.found-sound img {
    width: 48px;
}
/*NOUN VERB SECTION*/
.noun, .verb {
    margin: 0 auto;
    width: 327px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.text-vertical {
    display: flex;
    align-items: center;
    gap: 19px;
    font-style: italic;
    & img {
        width: 266px;
    }
}
.meanings {
    display: flex;
    flex-direction: column;
    gap: 17px;
    & p {
        color: var(--HalfGrey);
        font-weight: 400;
    }
    & ul li{
        font-size: 15px;
        line-height: 24px;
        color: var(--DarkGrey);
        padding-left: 10px;
    }
}
.meanings ul {
    list-style-type: disc;
    list-style-image: url('images/Oval.svg');
}
.synonyms {
    display: flex;
    align-items: center;
    gap: 26px;
    & p {
      font-size: 16px;
      font-weight: 400;
      color: var(--HalfGrey);  
    }
    & .synonymsP {
        color: #A445ED;
        font-weight: 700;
    }
}
.source {
    display: flex;
    flex-direction: column;
    gap: 24px;
    & .stick img {
        width: 327px;
    }
}
.source-bot {
    display: flex;
    flex-direction: column;
    gap: 7px;
    
    & h5 {
        font-size: 14px;
        color: var(--HalfGrey);
        text-decoration: underline;
    }
    & .source-url {
        display: flex;
        flex-direction: row;
        gap: 15px;
        cursor: pointer;
    }
}

@media (500px <= width <= 1439px ) {
    .container, .header, .header-inner, .search-container, .wordfound-section, .noun, .verb {
        width: 768px;
        margin: 0 auto;
    }
    .header-inner {
        gap: 458px;
        & .inner-left img {
            width: 32px;
        }
    }
    .searchBar {
        width: 768px;
    }
    .found-sec {
        & h3 {
           font-size: 64px;
           font-weight: 700;
        }
        & h2 {
          font-size: 24px;
          font-weight: 400;  
        }
    }
    .found-sound img {
        width: 75px;
    }
    .text-vertical {
        gap:32;
        & h3 {
            font-size: 24px;
            font-weight: 700;
            text-transform: lowercase;
        }
        & img {
            height: 15px;
            width: 700px;
        }
    }
    .meanings {
        & .desc {
            font-size: 20px;
        }
    }
    .meanings ul li {
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
    }
    .source {
        & .stick img {
            width: 760px;
            height: 10px;
        }
        & .source-bot {
            flex-direction: row;
            gap: 67px;
        }
    }
}
/**//**//**//**//**//**//**//**//**//**//**/
@media(min-width:1440px) {
    .container, .header, .header-inner, .search-container, .wordfound-section, .noun, .verb {
        width: 1440px;
        margin: 0 auto;
    }
    .header-inner {
        gap: 1178px;
    }
    .searchBar {
        width: 1440px;
    }
    .searchBar input {
        width: 500px;
        &:focus {
            outline: none;
            background-color: #F4F4F4;
        }
    }
    .found-sec {
        & h3 {
           font-size: 64px;
           font-weight: 700;
        }
        & h2 {
          font-size: 24px;
          font-weight: 400;  
        }
    }
    .found-sound img {
        width: 75px;
        cursor: url('images/mouse-pointer.svg'), auto;
    }
    .found-sound img:hover {
        background-image: url(images/play-button-hoover.svg);
        background-repeat: no-repeat;
        
    }
    
    .text-vertical {
        gap:23px;
        & h3 {
            font-size: 24px;
            font-weight: 700;
            text-transform: lowercase;
        }
        & img {
            height: 15px;
            width: 1380px;
        }
    }
    .meanings {
        & .desc {
            font-size: 20px;
        }
    }
    .meanings ul li {
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
    }
    .source {
        & .stick img {
            width: 1480px;
            height: 10px;
        }
        & .source-bot {
            flex-direction: row;
            gap: 67px;
        }
    }
    .error-container {
        width: 736px;
        margin: 0 auto;
    }

}