@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;700&family=Inter:wght@300;400;500;600;700&family=Lora:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter', Sans-serif;
}
:root {
    --HalfBlack: #1F1F1F;
    --DarkGrey: #2D2D2D;
    --Grey: #3A3A3A;
    --HalfGrey: #757575;
    --LightGrey: #E9E9E9;
    --BoneWhite: #F4F4F4;
    --PureWhite: #FFF;
    --Purple: #A445ED;
    --RosaRed: #FF5252;
}
.dark-theme {
    --HalfGrey: #757575;
    --DarkBlack: #050505;
    --PureWhite: #FFF;
    --RosaRed: #FF5252;
    --Purple: #A445ED;
    body {
        background-color: var(--DarkBlack);
    }
}
/* HEADER */
.header-inner {
    padding: 28px 24px;
    margin: 0 auto;
    width: 375px;
    display: flex;
    gap: 95px;
    & .inner-left img {
        width: 28px;
    }
    & .inner-right {
        display: flex;
        gap: 16px;
        align-items: center;
        & .right-font select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: url(images/path-down.svg) no-repeat;
            background-position: right 5px center;
            background-size: 12px 8px;
            border: 0;
            width: 98px;
        }
    }
}
/*SEARCH*/